/* Establishes grid layout for the page */
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    grid-template-areas:
    "nav"
    "main"
    "body";
    color: #16302B;
}

nav{
    grid-area: nav;
}

.main{
    grid-area: main;
}



/* Search bar row formatting */
.search{
    display: flex inline;
    width: 45%;
    margin-left: 5%;
    border-bottom: 2px solid #afccb8;
    color: #afccb8;
}

.search-bar-icon{
    width: 3rem;
    padding-top: 5%;
    padding-right: 10px;
}

.search-bar-text{
    padding-top: 6%;
}

input{
    border-style: none;
    font-family: Poppins;
    color: #afccb8;
    font-size: 1.5rem;
    width: 200%;
}

::placeholder{
    color: #afccb8;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #afccb8;
}

.filter-by{
    display: inline;
    padding-top: 50px;
    padding-right: 70px;
    font-size: 1.3rem;
    text-decoration: underline;
    float: right;
    color: #afccb8;
}



/* Product listings formatting */
.body{
    margin: auto;
    width: 90%;
    display: block;
    text-align: justify;
    text-align-last: justify;
}

/* Makes product link to its page */
a.fill-div {
    display: inline;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.product{
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 17rem;
}

.fill-div img {
    transition: transform 0.2s ease-in-out;
}

.fill-div img:hover {
    transform: scale(1.15);
}

.image{
    width: 17rem;
}

h1{
    margin: 0;
    text-align: left;
    text-align-last: left;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #16302B;
}

h2{
    display: inline-block;
    margin: 0;
    padding-right: 10px;
    text-align: left;
    text-align-last: left;
    font-size: 0.9rem;
    color: #16302B;
    text-decoration: line-through;
}

h3{
    display: inline-block;
    margin: 0;
    text-align: left;
    text-align-last: left;
    font-size: 1.4rem;
    color: #16302B;
}

.sale{
    color: #afccb8;
}



/* Formatting for smaller screen sizes */
@media screen and (max-width: 500px) {
    .search{
        margin-top: 10px;
        font-size: 1.2rem;
    }
    .search-bar-icon{
        width: 2.5rem;
    }
    .filter-by{
        padding-top: 40px;
        padding-right: 35px;
        font-size: 1.1rem;
    }
    .body{
        width: 90%;
    }
    h1{
        font-size: 0.9rem;
        color: #2C6758;
    }
    h3{
        font-size: 1.2rem;
    }
    .product{
        width: 12rem;
        padding-top: 20px;
        padding-bottom: 0;
    }
    .image{
        width: 12rem;
    }
    input{
        width: 100%;
    }
}